spring:
  application:
    name: demo
  datasource:
    url: jdbc:postgresql://localhost:5432/delta
    username: delta
    password: delta
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
